/* Navbar.css */

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  .navbar-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar-item {
    margin: 0 15px;
  }
  
  .navbar-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }
  
  .logout-button {
    background-color: #f00; /* You can change this to your desired color */
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
  }
  
  .logout-button:hover {
    background-color: #d00; /* Change this color for hover effect */
  }
  